<%= form_for(@listing) do |f| %>

  <fieldset>
    <legend>Listing</legend>
      <div class="row">
	<div class="large-12 large-centered columns">
	  <div class="row">
	    <div class="large-6 columns">
    	      <%= f.text_field :first_name %>
  	    </div>
	    <div class="large-6 columns">
    	      <%= f.text_field :last_name %>
      	    </div>
	  </div>
          <div class="row">
  	    <div class="large-4 columns">
    	      <%= f.text_field :dob, label: 'Date of Birth' %>
  	    </div>
  	    <div class="large-8 columns">
    	      <%= f.text_field :email %>
	    </div>
      	  </div>
	</div>
      </div>
    <%= f.submit %>
  </fieldset>
<% end %>
