<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @listing.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @listing.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @listing.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Destroy', listing_path(@listing), method: :delete, data: "Are you sure?" %>
