
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Sign in</legend>
      <div class="row">
	<div class="large-4 columns">  
	  <div><%= f.text_field :username, :autofocus => true %></div>
	</div>
      </div>
      <div class="row">
	<div class="large-4 columns">
	  <div><%= f.password_field :password %></div>
	</div>
      </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
  </fieldset>
<% end %>

