
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="small-6 small-centered columns">
      <fieldset>
	<legend>Sign in</legend>
	  <div class="row">
	    <div class="large-10 large-centered columns">  
	      <div><%= f.text_field :username, :autofocus => true %></div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-10 large-centered columns">
	      <div><%= f.password_field :password %></div>
	    </div>
	  </div>

  	<% if devise_mapping.rememberable? -%>
    	  <div class="row">
	    <div class="large-10 large-centered columns">
	      <div><%= f.check_box :remember_me %></div>
	    </div>
	  </div>
  	<% end -%>

	<div class="row">
	  <div class="large-10 large-centered columns">	
	    <div><%= f.submit "Sign in" %></div>
	  </div>
	</div>
      </fieldset>
    </div>
  </div>
<% end %>

